{
  "presets": [
    [
      "@babel/preset-env",
      "@babel/preset-typescript",
      {
        "targets": {
          "node": "current",
          "chrome": "58",
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
